<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Skeleton</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'partitial/navbar.html..twig' %}
        <div id="app">
            {% block body %}{% endblock %}
        </div>
        {% include 'partitial/footer.html.twig' %}
    </body>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
</html>
